.worth-container {
    background-color: rgba(255, 255, 255, 0.603);
    padding: 10px 20px;
    margin: 30px 0 0 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.61);
}

.worth-container h3 {
    margin: 15px 0 15px 0;
}

.p-container {
    margin-top: 55px;
    margin-bottom: 35px;

    max-width: 140px;
}